@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --purple1:#ffb9ff;
   --purple2:#cd00cd;
   --purple3:#b300b3;
   --pink1:#ff67b3;
   --pink2:#ff1a8d;
   --pink3:#b3005a;
   --purple: #9B51A0;
   --pp : #C25DC3;
   --pp2: #88118A;
   --pp3: #560557;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --orchid:#DA70D6;
   --border:.1rem solid black;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.5);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
   --background:linear-gradient(136deg,  rgb(141, 60, 168) 15%,rgb(45, 5, 48) 100%);
}



*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--black);
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:white;
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--light-button);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer;
}

.btn:hover{
   background: var(--main-color);
}

.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color: var(--pp3);
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background:rgba(194,93,195,.6);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}



.header .logo{
   font-size: 2.5rem;
   color:#fff;   
}



.header .navbar a{
   
   font-size: 1.5rem;
   margin-left: 2rem;
   margin-top: .5rem;
   margin-bottom: .5rem;
   color:white;
}

.header .navbar a:hover{
   color:var(--pp2);
}








   .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .gallery {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 5vw);
   grid-gap: 15px;
}




.login {
   margin: 10;
   padding: 50px 40px;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   min-height: 450px;
   margin-bottom: 20px;
}



.login  .container {
   width: 400px;
   min-height: 400px;
   background: #FFF;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0,0,0,.3);
   padding: 40px 30px;
}

.login  .container .login-text {
   color: #111;
   font-weight: 500;
   font-size: 1.1rem;
   text-align: center;
   margin-bottom: 20px;
   display: block;
   text-transform: capitalize;
}

.login  .container .login-social {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
   margin-bottom: 25px;
}

.login  .container .login-social a {
   padding: 12px;
   margin: 10px;
   border-radius: 3px;
   box-shadow: 0 0 5px rgba(0,0,0,.3);
   text-decoration: none;
   font-size: 1rem;
   text-align: center;
   color: #FFF;
   transition: .3s;
}

.login .container .login-social a i {
   margin-right: 5px;
}

.login .container .login-social a.facebook {
   background: #4267B2;
}

.login .container .login-social a.twitter {
   background: #1DA1F2;
}

.login .container .login-social a.google-plus {
   background: #db4a39;
}

.login .container .login-social a.linkedin {
   background: #0e76a8;
}

.login .container .login-social a.facebook:hover {
   background: #3d5fa3;
}

.login .container .login-social a.twitter:hover {
   background: #1991db;
}

.login .container .login-social a.google-plus:hover {
   background: #ca4334;
}

.login .container .login-social a.linkedin:hover {
   background: #0b5c81;
}

.login .container .login-email .input-group {
   width: 100%;
   height: 50px;
   margin-bottom: 25px;
}

.login .container .login-email .input-group input {
   width: 100%;
   height: 100%;
   border: 2px solid #e7e7e7;
   padding: 15px 20px;
   font-size: 1rem;
   border-radius: 30px;
   background: transparent;
   outline: none;
   transition: .3s;
}

.login .container .login-email .input-group input:focus,
.login .container .login-email .input-group input:valid {
   border-color: #a29bfe;
}

.login .container .login-email .input-group .btn {
   display: block;
   width: 100%;
   padding: 15px 20px;
   text-align: center;
   border: none;
   background: #a29bfe;
   outline: none;
   border-radius: 30px;
   font-size: 1.2rem;
   color: #FFF;
   cursor: pointer;
   transition: .3s;
}

.login .container .login-email .input-group .btn:hover {
   transform: translateY(-5px);
   background: #6c5ce7;
}

.login .login-register-text{
   color: #111;
   font-weight: 600;  
}
.login .login-register-text a{
  text-decoration: none;
   color: var(--pp3);  
}

.login .container .login-register-text a{
   text-decoration: none;
    color: var(--pp2);  
 }

@media (max-width: 430px) {
   .container {
       width: 300px;
   }
   .container .login-social {
       display: block;
   }
   .container .login-social a {
       display: block;
   }

}


.booking .book-form {
   padding:2rem;
   background: var(--light-bg);
}

.booking .book-form  .flex {
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
}

.booking .book-form  .flex .inputBox {
   flex:1 1 41rem;
}

.booking .book-form  .flex .inputBox input {
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.6rem;
   color:var(--light-black);
   text-transform: none;
   margin-top: 1.5rem;
   border:var(--border);
}

.booking .book-form  .flex .inputBox input:focus {
   background: var(--black);
   color:var(--white);
}

.booking .book-form  .flex .inputBox input:focus::placeholder {
   color:var(--light-white);
}

.booking .book-form  .flex .inputBox span {
   font-size: 1.5rem;
   color:var(--light-black);
}

.booking .book-form  .btn {
   margin-top: 2rem;
}










#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--pp);
   display: none;
}

.home{
   padding:0;
}



.btn{
   display: inline-block;
   background: var(--pp);
   margin-top: 1rem;
   color: #fff;
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer;
}

 .btn:hover{
   background: var(--pp2);
 }


 .home .slide{
   text-align: center;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover !important;
   background-position: center !important;
   min-height: 60rem;
}

.home .slide .content{
   width: 85rem;
   display: none;
}

.home .swiper-slide-active .content{
   display: inline-block;
}

.home .slide .content span{
   display: block;
   font-size: 2.2rem;
   color: #fff;
   padding-bottom: .2rem;
   animation:fadeIn .2s linear backwards .2s;
}

.home .slide .content h3{
   font-size: 4.3vw;
   color:#fff;
   text-transform: uppercase;
   line-height: 1;
   text-shadow: var(--text-shadow);
   padding:1rem 0;
   animation:fadeIn .2s linear backwards .4s;
}




.home .swiper-button-next,
.home .swiper-button-prev{
   top:inherit;
   left: inherit;
   bottom: 0;
   right: 0;
   height: 7rem;
   width: 7rem;
   background:var(--pp);
   color:#fff;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
   background: var(--pp2);
   color:var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
   font-size: 2rem;
}

.home .swiper-button-prev{
   right: 7rem;
}







.services .box-container{
   
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
   gap: 1rem;
   
}

.services .box-container .box{
   padding:1.5rem 2rem;
   text-align: center;
   background: var(--pp);
   cursor: pointer;
   
}


.services .box-container .box:hover{
   background: var(--pp2);
   transform: scale(1.3);
}

.services .box-container .box img{
   height: 15rem;
   width : 15rem
}




.services .box-container .box h3{
   color:#fff;
   font-size: 1.7rem;
   padding-top: 1rem;
}

.services .box-container .box .btn{
   display: inline-block;
   background: #ffb9ff;
   margin-top: 1rem;
   color: var(--pp2);
   font-size: 1.5rem;
   padding:1rem 3rem;
   cursor: pointer;
}

.services .box-container .box .btn:hover{
   color:#ffb9ff;
   background: var(--pp);

   
   
}



.services .box-container .box h1{
   color:var(--pp2);
   font-size: 1.7rem;
   padding-top: 3rem;
}

.home-about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   background-color: var(--purple1);
   padding-top: 3rem;
}


.home-about .image{
   flex:1 1 41rem;
}

.home-about .image img{
   width: 100%;
}

.home-about .content{
   flex:1 1 41rem;
   padding:3rem;
   background: var(--light-blue);
}

.home-about .content h3{
   font-size: 3rem;
   color:var(--pp2);
}

.home-about .content p{
   font-size: 1.8rem;
   padding:0.8rem 0;
   line-height: 2;
   color:var(--pp3);
}

.home-packages{
   background: #ffb9ff;
}

.home-packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   background: var(--purple1);
   gap: 2rem;
}

.home-packages .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--pp2);
}

.home-packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.home-packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.home-packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.home-packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.home-packages .box-container .box .content h3{
   font-size: 2.5rem;
   color:#fff;
}
.home-packages .box-container .box .content h1{
   
   color:#560557;
}

.home-packages .box-container .box .content p{
   font-size: 1.5rem;
   color:#ffb9ff;
   line-height: 2;
   padding:1rem 0;
}
.home-packages .box-container .box .content .btn{


   display: inline-block;
   background: var(--pp3);
   margin-top: 1rem;
   color: #fff;
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer;
}

.home-packages .box-container .box .content .btn:hover{
   background: var(--purple1);
   color: black;
}




.home-packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.home-offer{
   text-align: center;
}

.home-offer .content{
   max-width:70rem;
   margin:0 auto;
}

.home-offer .content h3{
   font-size: 2rem;
   text-transform: uppercase;
   color:var(--pp2);
}

.home-offer .content p{
   font-size: 1.5rem;
   color:var(--purple2);
   line-height: 2;
   padding:1rem 0;
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:3rem;
}

.heading h1{

   color:var(--light-white);
}

.about .image{
   flex:1 1 41rem;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 41rem;
   text-align: center;
}

.about .content h3{
   font-size: 3rem;
   color:var(--pp2);
}

.about .content p{
   font-size: 1.5rem;
   color:var(--pp);
   line-height: 2;
   padding:1rem 0;
}

.about .content .icons-container{
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: flex-end;
}

.about .content .icons-container .icons{
   background: #ffb9ff;
   padding:2.1rem;
   flex:1 1 12rem;
}

.about .content .icons-container .icons i{
   font-size: 4rem;
   margin-bottom: 1.5rem;
   color:var(--pp2);
}

.about .content .icons-container .icons span{
   font-size: 1.2rem;
   color:var(--pp2);
   display:block;
}
.about .content .icons-container .icons:hover{
   
   color:var(--pp2);
 
}





















.reviews{
   background: var(--light-bg);
}

.reviews .slide{
   padding:2rem;
   border:var(--border);
   background: var(--white);
   text-align: center;
   box-shadow: var(--box-shadow);
   user-select: none;
}

.reviews .slide .stars{
   padding-bottom: .5rem;
}

.reviews .slide .stars i{
   font-size: 1.7rem;
   color:var(--pp2);
}
.reviews h1{
  
   color:var(--pp2);
}

.reviews .slide p{
   font-size: 1.5rem;
   color:var(--pp);
   line-height: 2;
   padding:1rem 0;
}

.reviews .slide h3{
   font-size: 2rem;
   color:var(--pp2);
}





.reviews .slide span{
   font-size: 1.5rem;
   color:var(--main-color);
   display: block;
}

.reviews .slide img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   margin-top: 1rem;
}

.packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.packages .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
   display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6){
   display: inline-block;
}

.packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.packages .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--black);
}

.packages .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.booking .book-form {
   padding:2rem;
   background: var(--light-bg);
}

.booking .book-form  .flex {
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
}

.booking .book-form  .flex .inputBox {
   flex:1 1 41rem;
}

.booking .book-form  .flex .inputBox input,select {
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.6rem;
   color:var(--light-black);
   text-transform: none;
   margin-top: 1.5rem;
   border:var(--border);
}

.booking .book-form  .flex .inputBox input:focus {
   background: var(--black);
   color:var(--white);
}

.booking .book-form  .flex .inputBox input:focus::placeholder {
   color:var(--light-white);
}

.booking .book-form  .flex .inputBox span {
   font-size: 1.5rem;
   color:var(--light-black);
}

.booking .book-form  .btn {
   margin-top: 2rem;
}


/*




*/


.contact .contact-form {
   padding:2rem;
   background: var(--light-bg);
}

.contact .contact-form  .flex {
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
}

.contact .contact-form  .flex .inputBox {
   flex:1 1 41rem;
}

.contact .contact-form  .flex .inputBox input {
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.6rem;
   color:var(--light-black);
   text-transform: none;
   margin-top: 1.5rem;
   border:var(--border);
}

.contact .contact-form  .flex .inputBox input:focus {
   background: var(--black);
   color:var(--white);
}

.contact .contact-form  .flex .inputBox input:focus::placeholder {
   color:var(--light-white);
}

.contact .contact-form  .flex .inputBox span {
   font-size: 1.5rem;
   color:var(--light-black);
}

.contact .contact-form  .btn {
   margin-top: 2rem;
}











/*


testing

.contact-form{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   flex:1 1 41rem;
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.6rem;
   color:var(--light-black);
   text-transform: none;
   margin-top: 1.5rem;
   border:var(--border);
}


*/











.footer{
   background-color: var(--pp) ;
   padding: 10px 10px;
}

 .footer h3{

   color: #fff;
   padding-bottom: 2rem;
   font-size: 2rem;

 }
 .footer .box-container .box a{
   color:var(--light-white);
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--purple1);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
   color:var(--pp2);
}
 

 .footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .credit{
   text-align: center;
   padding-top: 1.5rem;
   margin-top: 2rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:white;
}
.footer .credit span{
   color:var(--pp2);
}



/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content h3{
      font-size: 10vw;
   }

}

@media (max-width:768px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
      
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--light-blue); /*menu button Showing when responsive*/
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading-title{
      font-size: 3.5rem;
   }

}